extends layout

block content
	link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js")
	section.hero.is-primary.is-bold
		.hero-body
			.container
				h1.title= title
				h2.subtitle Enter one or more materials required and then the system location to search from
	section.section
		.container
			div#bloodhound
				form.form(onsubmit="event.preventDefault()")
					input.typeahead.js-example-data-array#inp(type="text" autocomplete="off" placeholder="Module" multiple="multiple")
					input.input.typeahead(type="text" placeholder="System")
					input.button.is-primary#submit(type="submit")
	.hidden#names= JSON.stringify(names)
	script.
		const names = JSON.parse(document.getElementById('names').innerText)
		$(".js-example-data-array").select2({
			data: names,
			placeholder: "Enter as many mats as you want.",
			maximumSelectionLength: 15
		})

		$('#submit').on('click', e => {
			console.log(e)
			let mats = e.target.form.children[0].value
			window.location.href = `${window.location}result/${e.target.form.children[0].value}/${e.target.form.children[2].value}`
		});
